In [2]:
pip install pandas mlxtend matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: mlxtend in c:\users\sindu\appdata\roaming\python\python312\site-packages (0.23.4)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

# Load your dataset
df = pd.read_csv("C:\\Users\\Sindu\\Desktop\\Assignment ExcelR\\Association Rules\\Association Rules\\Online retail.csv", encoding='utf-8-sig')

# Show first few rows
df.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [3]:
#Convert Transaction Format to One-Hot Format
# Split each row into a list of items
transactions = df.iloc[:, 0].apply(lambda x: x.split(','))

# Create a one-hot encoded DataFrame
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

df_encoded.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
#Apply Apriori Algorithm
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(df_encoded, min_support=0.02, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)

# View top rules
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].sort_values(by='lift', ascending=False).head(10)

            antecedents          consequents   support  confidence      lift
73        (ground beef)          (spaghetti)  0.039200    0.398915  2.290857
72          (spaghetti)        (ground beef)  0.039200    0.225115  2.290857
95          (spaghetti)          (olive oil)  0.022933    0.131700  2.003547
94          (olive oil)          (spaghetti)  0.022933    0.348884  2.003547
87               (soup)      (mineral water)  0.023067    0.456464  1.915771
86      (mineral water)               (soup)  0.023067    0.096810  1.915771
59  (frozen vegetables)               (milk)  0.023600    0.247552  1.910127
58               (milk)  (frozen vegetables)  0.023600    0.182099  1.910127
1             (burgers)               (eggs)  0.028800    0.330275  1.837585
0                (eggs)            (burgers)  0.028800    0.160237  1.837585

In [11]:
#Filter Strong Rules
strong_rules = rules[(rules['confidence'] > 0.7) & (rules['lift'] > 1.2)]
strong_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []

In [ ]:
#Summary
It is a transaction-style dataset, not one-hot encoded — so need to:

Split the comma-separated strings into lists

Convert them into a one-hot format using TransactionEncoder

Then use apriori